node_modules
config.json
_cache.json
.idea
secrets.yaml
admin.db
*nces_data.csv
reference.db
*.sqlite3
server/seeds/dev.json
server/logs
yarn.lock
logs
hosted
hosted*
db-conf.json
bin
output.log
app-linux
app-macos
app-win.exe
keys
dist